<!DOCTYPE html>
<html>
<head>
	<title>404 Page Not Found</title>
	<link rel="stylesheet" type="text/css" href="../../assets/css/notfound.css">
</head>
<body>
	<div class="message">
		<h1>Oops! Page not found</h1>
		<p>We're sorry, but the page you requested could not be found.</p>
	</div>
	<div class="car-container">
		<img src="https://medial1.marketingdesignpro.com/wp-content/uploads/2023/04/sedan.png" alt="Car" width="200px">
	</div>
</body>
</html>