<!DOCTYPE html>
<html>
<head>
    <title>Thanks for your order!</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<section>
    <p>
        Chúc mừng bạn đặt xe thành công!!! Kiểm tra lại đơn hàng của mình tại đây
        <a class="button pt-3 pb-3 d-block" href="http://localhost:3333/user">Kiểm tra đơn hàng</a>
    </p>
</section>
</body>
</html>