@import "compass/css3";

[data-icon] {
&:before {
     font-family: FontAwesome;
     font-weight: normal;
     font-style: normal;
     font-size: 110%;
     margin: 0 0.5em;
     speak: none;
     text-decoration: inherit;
     -webkit-font-smoothing: antialiased;
 }
}

// Using three loops This creates a series of hexidecimal selectors, and puts the same hexidecimal value in the :before content.

$first-seq: 0 1;
$second-seq: 0 1 2 3 4 5 6 7 8 9 a b c d e f;
$third-seq: $second-seq;

@each $i in $first-seq {
    @each $j in $second-seq {
        @each $k in $third-seq {

            [data-icon=f#{$i}#{$j}#{$k}] {
        &:before {
             content: '\f#{$i}#{$j}#{$k}';
         }
        }
    }
}
}

/*----------- Demo styles -----------------*/

$page-color: #f1f1f1;

$nav-color: #222;
$nav-width: 11em;

$nav-sub-menu: lighten($nav-color, 10%);


.app-navigation {
    background: $nav-color;
    font: 300 16px/1.7 "Helvetica Neue", Helvetica, arial, sans-serif;
    height: 100%;
    overflow: hidden;
    padding-top: 2em;
    position: absolute;
    width: $nav-width;

a {
    color: #eee;
    float: left;
    padding: 0.3em;
    position: relative;
    text-decoration: none;
    transition: .25s;
    width: 100%;

// sweet hover transitions by Bennett
// https://codepen.io/bennettfeely/pen/cnhpi

    &:hover {
                                           background: #000;
                                           color: #0dceff;
                                           transition: .05s;

&:before {
     color: inherit;
 }
}
}
}


[data-selected] {
&:after {
     border: 0.5em solid transparent;
     border-right-color: $page-color;
     content: '';
     position: absolute;
     right: 0.6em;
     top: 0.75em;
 }
}

main {
    margin-left: $nav-width + 1em;
    padding-top: 1em;
}


@font-face{
    font-family:'FontAwesome';
    src:url('../fonts/fontawesome-webfont.eot?v=4.0.3');
    src:url('https://netdna.bootstrapcdn.com/font-awesome/4.0.3//fonts/fontawesome-webfont.eot?#iefix&v=4.0.3') format('embedded-opentype'),
    url('https://netdna.bootstrapcdn.com/font-awesome/4.0.3/fonts/fontawesome-webfont.woff?v=4.0.3') format('woff'),
    url('https://netdna.bootstrapcdn.com/font-awesome/4.0.3/fonts/fontawesome-webfont.ttf?v=4.0.3') format('truetype'),
    url('https://netdna.bootstrapcdn.com/font-awesome/4.0.3/fonts/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular') format('svg');
    font-weight:normal;
    font-style:normal}

h1 {
    font-family: 'Quando', serif;
}